* {
  vertical-align: top;
}
body {
  //text-align: center !important;
  font-family: Arial, Helvetica, sans-serif;
}

#new_auction_header {
  width: 100vw;
  height: 9vh;
  background-color: #ffffff;
  box-shadow: 0px -4px 9px 0px #0e0e0e;
  margin-top: 0vh;
  z-index: 270 !important;
}

#new_auction_footer {
  background-image: url("../../img/smallfooter.webp");
  background-size: 100%;
  height: 40vh;
  // background-position: bottom;
  background-repeat: no-repeat;
  width: 100vw;
  margin-bottom: 0vh; //?
  margin-top: 20vh;
}
#new_auction_section {
  width: 100% !important;
  margin-top: 5vh !important;
  margin-bottom: 2vh;
}

#imgPreview {
  text-align: center;
  margin: 5px 15px;
  height: 200px;
  width: 500px;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  border-top: 5px solid gray;
  border-bottom: 5px solid gray;
}
.my_icon {
  fill: currentColor;
  width: 1em;
  height: 1em;
  display: inline-block;
  font-size: 1.5rem;
  transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  flex-shrink: 0;
  user-select: none;
}
.my_icon:not(:root) {
  overflow: hidden;
}
.small_delete_icon {
  width: 0.6em !important;
  height: 0.6em !important;
}
// .MuiTypography-body1{
//   width: 70vw;
//   text-align: -webkit-center;
//   height: 50vh;
//   border-radius: 0.5vh;
//   margin-right:  auto !important;
//   margin-left: auto !important;
//   box-shadow: 0px 0px 3px 0.2px black;
// }

#add-product-form {
  width: 28vw;
  display: inline-block !important;
  padding-right: 2vw;
  padding-left: 2vw;
  padding-top: 1.5vh;
  padding-bottom: 1.5vh;

  margin-left: 2vw;
  min-height: 52vh;
  // max-height: 52vh;
}
.form-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: column;
  height: 100%;
}
.form-container > * {
  flex: 1 !important;
  margin-bottom: 0.6vh !important;
  margin-top: 0.6vh !important;
}
#products-table-paper {
  width: 50vw;
  display: inline-block !important;
}
.box-shadow {
  border-radius: 5px;

  -moz-box-shadow: 3px 3px 5px 6px #ccc;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
  box-shadow: 3px 3px 5px 6px #ccc;
}
#newAuctionAllSteps {
  width: 80vw;
  margin-left: 7vw;
}

/*************************************************************************************************************/
.view-details-icon {
  fill: currentColor;
  width: 1em;
  height: 1em;
  display: inline-block;
  font-size: 1.2rem;
  transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  flex-shrink: 0;
  user-select: none;
}
.view-details-icon:not(:root) {
  overflow: hidden;
}

.MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation1.MuiTableContainer-root.css-11xur9t-MuiPaper-root-MuiTableContainer-root#unapproved-auctions-list {
  width: 70vw;
  margin-left: auto;
  margin-right: auto;
}
// button.MuiButtonBase-root.MuiFab-root.MuiFab-circular.MuiFab-sizeLarge.MuiFab-primary.css-1nacmhh-MuiButtonBase-root-MuiFab-root {
//   border-radius: 50%;
// }

//לא השתמשתי, עיצוב ברירת מחדלל של ICONBUTTON
#dd {
  flex: 0 0 auto !important;
  color: rgba(0, 0, 0, 0.54) !important;
  padding: 12px !important;
  overflow: visible !important;
  font-size: 1.5rem !important;
  text-align: center !important;
  transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms !important;
  border-radius: 50% !important;

  border: 0 !important;
  cursor: pointer !important;
  margin: 0 !important;
  display: inline-flex !important;
  outline: 0 !important;

  position: relative !important;
  align-items: center !important;
  user-select: none !important;

  vertical-align: middle !important;
  justify-content: center !important;
  text-decoration: none !important;
  background-color: transparent !important;
}
