.optionsBtn button.MuiButtonBase-root.MuiButton-root.MuiButton-text {
    margin-right: 1% !important;
    color: white !important;
}

.auctionManagerTableCls th.MuiTableCell-root.MuiTableCell-head.MuiTableCell-stickyHeader{
    background-color: #21ba45  !important

}