body {
  //text-align: center !important;
  font-family: Arial, Helvetica, sans-serif;
}

.glass_login{
  background-color:#1009094d;
  background-color: rgba(33, 33, 33, 0.66) !important;

  //החלבי המקורי
  //background-color: rgba(226, 226, 226, 0.15);

  backdrop-filter: blur(5px);
  /* The Modal (background) */
  // display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 28 !important; /* Sit on top */
  padding-top: 10vh; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-size: 100% 100%;
}

/* Modal Content */
.modal-content_login {
  opacity:1.0 !important;
  margin: auto;
  width:31%;
  height:80%;
//  height: auto !important;

z-index: 30 !important;

}
#login_bottom{
  // background-image: url('../../img/login_bottom.gif');
  background-size: 100% 100%;
  height: 15%;
  width: 100;
  border-end-end-radius:4vh;
  border-end-start-radius:4vh;
  opacity:1.0 !important;
color:#8e8e95 !important;
}
#login_top{
  // background-image: url('../../img/login_top.gif');
  background-color: white;
margin-bottom: 1vh;
 background-size: 100% 100% ;
 height: 70%;
 width: 100%; 

}
.PrivateTabIndicator-colorPrimary-11 {
  background-color: #21ba45;
  height: 0.4vh;
}
#btn_signup,#btn_signin{
    display: inline-block;
    width: 50%;
    text-align: center;
    color: white;
    background-color: #8e8e95;
    font-size: 2vh;
    height: 10%;
    padding-top: 5%; 
    cursor:pointer;
    
}
#btn_signup{

// background-image: url('../../img/login1.png');
background-size: 100% 100%;
border-start-end-radius:4vh;
}
#btn_signin{
  // background-image: url('../../img/login2.png');
  background-size: 100% 100%;
  border-start-start-radius:4vh;

  }
.profile_img{
  width: 12vw;
  height: 24vh;
  margin: auto;
}
#forgot{
  color: #8e8e95;
  font-family:'Arial'!important;
  font-style: initial;
  font-size:2vh !important;
  text-align: right; 
  font-style: italic;
  margin: auto !important;
  display: inline-block;
  margin-right: 15% !important;
}

.login_btn_sign_in{
  color: #ffffff !important;
  width:36% !important;
  // background-color: #5d1e5a !important;
background-color: #21ba45 !important;
  height: 4vh !important;
  margin-left: 17% !important;
  display: inline-block;

}
.login_btn{
  color: #ffffff !important;
  width:45% !important;
background-color: #21ba45 !important;
  // background-color: #5d1e5a !important;
  height: 4vh !important;
  margin:auto !important;
  margin-top:1.5vh !important;

}

.inputs_btns .MuiFilledInput-root:before{
border-color: #8e8e95 !important;
}
.inputs_btns .MuiSvgIcon-root{
  margin-bottom: 5%;
}
.inputs_btns .MuiFilledInput-inputAdornedStart{
align-self: flex-end
}



//עוטף את כל האינפוטים והכפתור אישור
.inputs_btns{
  width:100% !important;
  padding-top: 8%;
  padding-bottom: 8%;
  display: grid;
  grid-template-columns: auto;
  padding: 2vh;
  grid-row-gap:1%;
  height: auto;
}
 


input.MuiInputBase-input.MuiFilledInput-input.MuiInputBase-inputAdornedStart.MuiFilledInput-inputAdornedStart {
  margin-left: 3% !important;
  margin-bottom: -1% !important;
}
 
svg.MuiSvgIcon-root{
  font-size: 1.1em !important;
}

.inputs_btns svg.MuiSvgIcon-root{
  font-size: 3vh !important;
  float: right !important;
  bottom: 0vh !important;
  right: 0vw !important;
  top: 0vh !important;
}


.inputs_btns svg.MuiSvgIcon-root{
  font-size: 1.2em !important;
  float: right !important;
  bottom: 0vh !important;
  right: 0vw !important;
  top: 0vh !important;
  color: #8e8e95 !important;
}

.inputs_btns i.icon, i.icons {
  font-size: 1.2em !important;
}

.inputs_btns input.MuiInputBase-input.MuiFilledInput-input.MuiInputBase-inputAdornedStart.MuiFilledInput-inputAdornedStart 
{
  margin-left: 3% !important;
  margin-bottom: -1% !important;
}



/*******************************  Your Profile  ************************************/
svg#profileIcon {
}

// #profile_icon_in_small_header{
//   margin-top: 1vh !important;
// }
  
#profileIcon{
  font-size: 3rem !important;
  color:#5055aa !important;
  position: absolute !important;
  right: 5vw !important;
  top: 3vh !important;
  display: inline-block !important;
  cursor: pointer;
}  

#h1_Profile{
  color: #21ba45 !important;
}

#update_user_details_form{
  background-color: white;
  margin-bottom: 1vh;
  background-size: 100% 100% ;
  height: 80%;
  width: 100%;  
  border: 2px solid black;
}

#update_details_btn{

}