#profileIcon{
    font-size: 3rem !important;
    color:#5055aa !important;
    position: absolute !important;
    right: 5vw !important;
    top: 3vh !important;
    display: inline-block !important;
    cursor: pointer;
  }  
  
  #h1_Profile{
    color: #21ba45 !important;
  }
  
  #update_user_details_form{
    background-color: white;
    margin-bottom: 1vh;
    background-size: 100% 100% ;
    height: 80%;
    width: 100%;  
    border: 2px solid black;
  }
.cancle_in_modal,.ok_in_modal{

}
.cancle_in_modal{

}
.ok_in_modal{
       box-sizing: inherit;
}
.my_icon{
    fill: currentColor;
    width: 1em;
    height: 1em;
    display: inline-block;
    font-size: 1.5rem;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    flex-shrink: 0;
    user-select: none;
}
.my_icon:not(:root) {
    overflow: hidden;
}
