#profileIcon{
    font-size: 3rem !important;
    color:#5055aa !important;
    position: absolute !important;
    right: 5vw !important;
    top: 3vh !important;
    display: inline-block !important;
    cursor: pointer;
   }  
  // #btn_product{
  //   color: #ffffff !important;
  //   width:7% !important;
  // background-color: #21ba45 !important;//ירוק
  //   height: 5vh !important;

  // }
  #h1_profile{
    // color: #21ba45 !important;//ירוק
    // color: #c9d032 !important;//חרדל
    color: #eb8030 !important ;//כתום

  }
  
  #update_user_details_form{
    background-color: white;
    margin-bottom: 1vh;
    background-size: 100% 100% ;
    height: 80%;
    width: 100%;  
    border: 2px solid black;
  }

