#profileIcon{
    font-size: 3rem !important;
    color:#5055aa !important;
    position: absolute !important;
    right: 5vw !important;
    top: 3vh !important;
    display: inline-block !important;
    cursor: pointer;
   }  
  // #btn_product{
  //   color: #ffffff !important;
  //   width:7% !important;
  // background-color: #21ba45 !important;//ירוק
  //   height: 5vh !important;

  // }
  #h1_profile{
    // color: #21ba45 !important;//ירוק
    // color: #c9d032 !important;//חרדל
    // color: #eb8030 !important ;//כתום
    color: #7376c0 !important ;//אפרפר
  }
  
  #update_user_details_form{
    background-color: white;
    margin-bottom: 1vh;
    background-size: 100% 100% ;
    height: 80%;
    width: 100%;  
    border: 2px solid black;
  }
/************************************************** userTable *****************************************************/
  .table_options_icon{
    fill: currentColor;
    width: 1em;
    height: 1em;
    display: inline-block;
    font-size: 1.5rem;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    flex-shrink: 0;
    user-select: none;
}
.table_options_icon:not(:root) {
    overflow: hidden;
}
td{
  border: black 5px solid;
}