#cart-products-container {
  display: grid;
  grid-template-columns: repeat(4, 5fr);
  grid-gap: 1rem;
  padding-right: 12vw;
  padding-left: 12vw;
}

.cart-product-in-list {
  padding-top: 1vh;
  padding-left: 0.3vw;
  padding-right: 0.3vw;
}
.cart-product-in-list button.MuiButtonBase-root.MuiIconButton-root.MuiIconButton-colorPrimary {
  width: 1.8vw;
  height: 3.6vh;
}

.my_icon {
  fill: currentColor;
  width: 0.4em;
  height: 0.4em;
  display: inline-block;
  font-size: 0.9rem;
  transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  flex-shrink: 0;
  user-select: none;
}
.my_icon:not(:root) {
  overflow: hidden;
}
/* .content>*{
  display: inline-block;
  inline-size:40%;
  vertical-align: top;
  }*/

.paypal-button {
  width:20vw !important;
  margin-left: auto !important;
  margin-right: auto !important;
}
