.my_icon{
    fill: currentColor;
    width: 0.8em !important;
    height: 0.8em !important;
    display: inline-block;
    font-size: 1.3rem !important;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    flex-shrink: 0;
    user-select: none;
}
.my_icon:not(:root) {
    overflow: hidden;
}


#st-container {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    justify-content: space-around;
  }
  #st-container
    .MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation1.MuiCard-root.css-1ri6ub7-MuiPaper-root-MuiCard-root {
    flex: 0 0 33.333333%;
    margin-top: 3vh;
    transition: 0.6s ;
  }
  
  #st-container
    .MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation1.MuiCard-root.css-1ri6ub7-MuiPaper-root-MuiCard-root:hover {
      box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  }