
#logo_home_header{
  background-image: url('../../img/logo_white.png');
  // background-image: url('../../img/logo_green&blue.png');
  background-size:100% 100%;
  background-repeat: no-repeat;
  height: 9vh;
  width: 18vw;
display: inline-block;
cursor: pointer;
margin-top: 3vh;
margin-left: 2vw;
}
#logo_home_small_header{
  background-image: url('../../img/logo_white.png');
  // background-image: url('../../img/logo_green&blue.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  display: inline-block;
  cursor: pointer;
  height:5vh !important;
  width: 10vw !important;
  margin-top: 1.5vh !important;
  margin-left: 4vw !important;
}
.btn{
  color: #ffffff !important;   
  width:8vw !important;   
  border-radius: 5vw !important;
  position: absolute !important;
  cursor: pointer !important;   
  // למה העכבר לא משתנה?

}
.btnLogin{
  right: 3vw !important;
  top: 3vh !important;
   background-color: #f3e7f226 !important;
  //  background-color: #3ed646 !important;
  display: inline-block !important;
}
#login_btn_small_header{
  top: 2vh !important;
  height: 3vh !important;
  font-size: 1vh !important;
  padding: 0% !important;
}
#home_text>p{
  line-height:0.8 !important;
  color: white;
  // color: black;
  font-size: 3vh; 
   font-family: 'Centaur';
   text-align: right !important;
   line-height:1 !important;
}

#home_text>h5{
  line-height:0.8 !important;
  color: white;
  // color: black;
  font-size: 9vh; 
   font-family: 'Centaur';
   text-align: right !important;

}
#home_text>h3{
  line-height:0.8 !important;
  color: white;
  // color: black;
  font-size: 14vh; 
   font-family: 'Centaur';
   text-align: right !important;
}

#home_text{
  width: 32%;
  left:12%;
  top:12%;
  position: relative;
  text-align: center;
}

.btnMoreInfo{
  left: 14% !important;
  width: 10vw !important;
  height: 5vh;
  background-color: #d0d63e !important ;
  // background-color: #3ed646 !important ;
}
.btnNewAuction{
  right:0% !important;
  height:5vh ;
  width: 16vw !important;
  background-color: #d0d63e !important ;
  // background-color: #3ed646 !important ;
}
#home_header{
  background-image: url('../../img/home_header_backgroung.webp');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height:136vh;
  width: 100vw;
  position: relative !important;
  z-index: 200;
}
#small_home_header{
  // background-size: 100%;
  // background-repeat: no-repeat;
   // background-image: url('../../img/home_small_header_backgroung.png');
  // -moz-box-shadow:    inset 0 0 10px white;
  // -webkit-box-shadow: inset 0 0 10px white;
  // box-shadow:         inset 0 0 10px white;
  background-color: #262b96db;
  height: 7vh !important; ;
  width: 100vw;
  position: fixed !important;
  z-index: 270 !important;
  display: none;
}
  .scrolling.dimmable.dimmed>.dimmer{
    overflow:hidden !important;
  }
  .ui.modal{
    width: 60vw;
    height: 60vh;
    overflow: hidden;
    margin: 0;
    margin-left: auto !important;
    margin-right: auto !important;
    left: 20vw;
    top: 20vh;
  }
  .dimmed.dimmable>.ui.animating.dimmer, .dimmed.dimmable>.ui.visible.dimmer, .ui.active.dimmer{
    backdrop-filter: blur(5px);
    background-color: #0000003b ; 
  }
  img{
    width: 30vw;
    height: 15vw;
  }
  .ui.modal>.header{
    border-bottom: none!important;
  }
  #right_pic{  
    position: absolute;
    display: inline-block;
    width: 50%;
    height: 90%;
    background-repeat: no-repeat;
    background-size: 100%;
    right: 0vw;
    top: 4%;
    background-image: url('../../img/right_header_home.webp');

  }
   #left_pic{
    background-image: url('../../img/left_circle_header_home.webp');
    position: absolute;
    display: inline-block;
    height: 50%;
    width: 11%;
    background-repeat: no-repeat;
    background-size: 100%;
    left: 0vw;
    top: 52%
  }
  .home_footer{
     background-image: url('../../img/footer_dbdcf7.png');
    background-size: 100% 100%;
    height:40vh;
    background-repeat: no-repeat;
    width: 100vw;
    position: relative;
  }
  
 #logo_in_home_footer{
    background-image: url('../../img/logo_white.png');
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
    height: 7vh;
    width: 12vw;
    display: inline-block;
    top: 48%;
    left: 12%;
} 
#contact_us{
    position: absolute;
    height:12%;
    width: 17%;
    display: flex;
    align-items: center;
    cursor: pointer;
    top: 65%;
    left: 12%;
    border: black 3px solid;
}
#contact_us>p{
    margin: auto;
    color: black;
    font-size: 2vh;
}
#menu_footer, #text_footer{
  width: 20%;
  height: 42%;
  position: absolute;
  top: 38%;
  border-left: 2px solid white; 
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 2%;
}
#text_footer{
  right: 16%; 
  font-size: 1.8vh ;
  color: white ;
}
#menu_footer{
  display: grid;
  grid-template-columns:1%;
  row-gap: 1%;
  right: 34%;
}

.menu_footer_link{
  color: white ;
  font-size: 1.7vh ;  
  cursor: pointer;
}

