header{
  background-image: url('../../img/header.png');
  background-size: 100% 100%;
  height:150vh;
  width: 100vw;
}
.logo{
  background-image: url('../../img/logo.png');
  background-size: 100%;
  background-repeat: no-repeat;
  height:30vh;
  width: 20vw;
display: inline-block;
cursor: pointer;
margin-top: 5vh;
margin-left: 2.5vw;
}
.btnLogin{
  right: 2vw !important;
  top: 3vh !important;
  color: #ffffff !important;   
   background-color: #f3e7f226 !important;
  width:8vw !important;   
  border-radius: 5vw !important;
  display: inline-block !important;
  position: absolute !important;
}
footer{
  background-image: url('../../img/footer.png');
  background-size: 100% 100%;
  height:50vh;
  width: 100vw;

}
.glass{
    background-color: rgba(226, 226, 226, 0.15) !important; 
    backdrop-filter: blur(5px) !important;
  }
  /* The Modal (background) */
  .modal2 {
    // display: none; /* Hidden by default */
    position: fixed !important; /* Stay in place */
    z-index: 1 !important; /* Sit on top */
    padding-top: 10vh !important; /* Location of the box */
    left: 0 !important;
    top: 0 !important;
    width: 100% !important; /* Full width */
    height: 100% !important; /* Full height */
    overflow: auto !important; /* Enable scroll if needed */
    background-size: 100% 100% !important;
  }
  .scrolling.dimmable.dimmed>.dimmer{
    overflow:hidden !important;
  }
  .ui.modal{
    width: 60vw;
    height: 60vh;
    overflow: hidden;
    margin: 0;
    margin-left: auto !important;
    margin-right: auto !important;
    left: 20vw;
    top: 20vh;
  }
  .dimmed.dimmable>.ui.animating.dimmer, .dimmed.dimmable>.ui.visible.dimmer, .ui.active.dimmer{
    backdrop-filter: blur(5px);
    background-color: #0000003b ; 
  }
  img{
    width: 30vw;
    height: 15vw;
  }
  .ui.modal>.header{
    border-bottom: none!important;
  }
  span.makeStyles-imageSrc-23 {
    background-image: '../../img/oneAuctionImage.png'!important;
    background-repeat: no-repeat !important;
    background-size: 100% 100% !important;
  }