
#logo_home_header{
  // background-image: url('../../img/logo_white.png');
  background-image: url('../../img/logo_orange&7376c0&white.png');
  background-size:100%;
  background-repeat: no-repeat;
  height: 9vh;
  width: 18vw;
display: inline-block;
cursor: pointer;
margin-top: 3vh;
margin-left: 2vw;
}

.btn{
  color: #ffffff !important;   
  width:8vw !important;   
  border-radius: 5vw !important;
  position: absolute !important;
  cursor: pointer !important;     

  // background-color: #21ba45 !important ;//ירוק
  // background-color: #c9d032 !important ;//חרדל
  // background-color: #eb8030 !important ;//כתום
  background-color: #7376c0 !important ;//אפרפר
}
#btnMoreInfo{
  left: 14% !important;
  width: 10vw !important;
  height: 5vh;
}
#btnNewAuction{
  right:0% !important;
  height:5vh ;
  width: 16vw !important;
}
#btnLogin{
  right: 3vw !important;
  top: 3vh !important;
  display: inline-block !important;
}
#home_text>p{
  line-height:0.8 !important;
  color: white;
  // color: black;
  font-size: 3vh; 
   font-family: 'Centaur';
   text-align: right !important;
   line-height:1 !important;
}

#home_text>h5{
  line-height:0.8 !important;
  color: white;
  // color: black;
  font-size: 9vh; 
   font-family: 'Centaur';
   text-align: right !important;

}
#home_text>h3{
  line-height:0.8 !important;
  color: white;
  // color: black;
  font-size: 14vh; 
   font-family: 'Centaur';
   text-align: right !important;
}

#home_text{
  width: 32%;
  left:12%;
  top:12%;
  position: relative;
  text-align: center;
}

#home_header{
  background-image: url('../../img/home_header_backgroung.webp');
  background-size: 100%;
  background-repeat: no-repeat;
  height:136vh;
  width: 100vw;
  position: relative !important;
  z-index: 200;
}


  #right_pic{  
    position: absolute;
    display: inline-block;
    width: 50%;
    height: 90%;
    background-repeat: no-repeat;
    background-size: 100%;
    right: 0vw;
    top: 4%;
    background-image: url('../../img/right_header_home.webp');

  }
   #left_pic{
    background-image: url('../../img/left_circle_header_home.webp');
    position: absolute;
    display: inline-block;
    height: 50%;
    width: 11%;
    background-repeat: no-repeat;
    background-size: 100%;
    left: 0vw;
    top: 52%
  }
  .home_footer{
     background-image: url('../../img/footer_dbdcf7_small.png');
    // background-color: #3e2626;
    background-size: 100%;
    background-position: bottom;
    height:40vh;
    background-repeat: no-repeat;
    width: 100vw;
    position: relative;
  }
  
 #logo_in_home_footer{
    background-image: url('../../img/logo_orange&black&blue.png');
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
    height: 7vh;
    width: 12vw;
    display: inline-block;
    top: 55%;
    left: 12%;
} 
#contact_us{
    position: absolute;
    height:12%;
    width: 17%;
    display: flex;
    align-items: center;
    cursor: pointer;
    top: 75%;
    left: 12%;
    border: black 3px solid;
}
#contact_us>p{
    margin: auto;
    color: black;
    font-size: 2vh;
}
#menu_footer, #text_footer{
  width: 20%;
  height: 42%;
  position: absolute;
  top: 48%;
  border-left: 2px solid white; 
  padding-bottom: 1%;
  padding-left: 2%;
}
#text_footer{
  right: 16%; 
  font-size: 1.7vh ;
  color: white ;
}
#menu_footer{
  display: grid;
  grid-template-columns:1%;
  row-gap: 1%;
  right: 34%;
}

.menu_footer_link{
  color: white ;
  font-size: 1.7vh ;  
  cursor: pointer;
}
#small-header{
    background-color: #dbdcf7;
    position: fixed;
    top: -500px;
    width: 100%;
    display: block;
    transition: top 0.4s;
    height: 8vh;
}

#login_btn_small_header {
      cursor: pointer;
      right: 3.6vw !important;
      top: 1.8vh;
}
#logo_home_small_header{
  background-image: url('../../img/logo_orange&black&blue.png');
  background-size: 100%;
  background-repeat: no-repeat;
  display: inline-block;
  cursor: pointer;
  height:5vh !important;
  width: 10vw !important;
  margin-left: 3.6vw !important;
  margin-top: 1.4vh;
}